<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{isUpdate ? 'ALTERAR SENHA' : 'ESQUECI A SENHA'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="!isUpdate"  class="info-code-card">
    <ion-icon name="card-outline"></ion-icon>
    <div class="label">
      <span>Informe o CVV do cartão final</span>
      <span class="mt-5">(são os 3 dígitos no verso do seu cartão)</span>
    </div>
  </div>

  <div class="form">
    <ion-item *ngIf="!isUpdate" color="'#eee'">
      <ion-label position="floating">CVV do seu cartão</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item *ngIf="isUpdate" color="'#eee'">
      <ion-label position="floating">Senha atual</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item color="'#eee'">
      <ion-label position="floating">Nova senha</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item color="'#eee'">
      <ion-label clearInput position="floating">Repita a senha</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-button expand="full" shape="round" color="primary">SALVAR NOVA SENHA</ion-button>
  </div>
</ion-content>