<ion-content color="ligth">
  <div class="backgroud"></div>

  <div class="card">
    <app-card></app-card>
  </div>
  

  <div class="optionsCard">
    <span>Opoçoes do cartão</span>
    <app-slide [optionsCard]="optionsCard"></app-slide>
  </div>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button >
          <ion-icon name="card-outline"></ion-icon>
          <ion-label>Cartões</ion-label>
        </ion-tab-button>
    
        <ion-tab-button >
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Onde usar</ion-label>
        </ion-tab-button>
    
        <ion-tab-button>
          <ion-icon name="cash-outline"></ion-icon>
          <ion-label>Descontos</ion-label>
        </ion-tab-button>
    
        <ion-tab-button>
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Meu Perfil</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
