ion-content {
    position: relative;
    .optionsCard {
        margin-top: 30px;
        margin-left: 10px;
    }

    background: crimson;

    span {
        font-weight: bold;
        color: #333;
    }
}

.backgroud {
    position: absolute;
    height: 40%;
    width: 100%;
    background: #2a2d83;
}

.card {
    padding: 5px 10px;
}

.optionsCard {
    padding: 0px 10px;
}

ion-label {
    margin-top: 2px;
    font-size: 12px;
}